apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "4"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"litellm","namespace":"litellm"},"spec":{"replicas":2,"selector":{"matchLabels":{"app":"litellm"}},"template":{"metadata":{"labels":{"app":"litellm"}},"spec":{"containers":[{"envFrom":[{"secretRef":{"name":"litellm-config"}}],"image":"ghcr.io/berriai/litellm:main-latest","name":"litellm","ports":[{"containerPort":4000}],"resources":{"limits":{"cpu":"1000m","memory":"2Gi"},"requests":{"cpu":"250m","memory":"512Mi"}}}]}}}}
  creationTimestamp: "2025-10-31T16:46:35Z"
  generation: 4
  name: litellm
  namespace: litellm
  resourceVersion: "116141"
  uid: 0468467a-af32-4d68-b1d2-f2039027016d
spec:
  progressDeadlineSeconds: 600
  replicas: 2
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: litellm
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-10-31T21:51:01Z"
      creationTimestamp: null
      labels:
        app: litellm
    spec:
      containers:
      - envFrom:
        - secretRef:
            name: litellm-config
        image: ghcr.io/berriai/litellm:main-latest
        imagePullPolicy: IfNotPresent
        name: litellm
        ports:
        - containerPort: 4000
          protocol: TCP
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
          requests:
            cpu: 250m
            memory: 512Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 2
  conditions:
  - lastTransitionTime: "2025-10-31T17:50:06Z"
    lastUpdateTime: "2025-10-31T17:50:06Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-10-31T16:46:35Z"
    lastUpdateTime: "2025-10-31T21:51:03Z"
    message: ReplicaSet "litellm-b644576c7" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 4
  readyReplicas: 2
  replicas: 2
  updatedReplicas: 2
