config:
  clients:
    - url: http://loki-gateway.monitoring.svc/loki/api/v1/push

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

daemonset:
  enabled: true
