config:
  clients:
    - url: http://loki:3100/loki/api/v1/push

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

# Scrape tous les pods
daemonset:
  enabled: true
